{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Categories</h1>
            <h3>
                <li>
                    <a href="{% url 'create_category' %}">Create Category</a>
                </li>
            </h3>
            <table>
                <thead>
                    <th>Name</th>
                    <th>Numer of receipts</th>
                </thead>
                {% for list in expensecategory %}
                    <tbody>
                        <td>{{ list.name }}</td>
                        <td>{{ list.receipts.all|length }}</td>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </main>
{% endblock content %}
