{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Account</h1>
        <h3>
            <li>
                <a href="{% url 'create_account' %}">Create Account</a>
            </li>
        </h3>
        <table>
            <thead>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </thead>
            {% for list in account %}
                <tbody>
                    <td>{{ list.name }}</td>
                    <td>{{ list.number }}</td>
                    <td>{{ list.receipts.all|length }}</td>
                </tbody>
            {% endfor %}
        </table>
    </main>
{% endblock content %}
